@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bordered {
  border: 1.5px solid rgba(179, 210, 255, 0.25);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-weight: 500;
}
.primary {
  padding: 1em;
  background: linear-gradient(#000428c5, #004e92d0);
  backdrop-filter: blur(10px);
  position: absolute;
  height: 200vh;
  width: 15rem;
  z-index: 2;
}
.primary .elem-type {
  display: none;
}
.primary .app-title {
  display: flex;
  align-items: center;
}
.primary .app-title .material-icons {
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0.25em;
  font-size: 2.5em;
}
.primary .app-title label {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}
.primary .todo-search {
  display: flex;
  margin: 1rem 0;
}
.primary .todo-search input {
  text-indent: 0.1rem;
  border: 1.5px solid rgba(179, 210, 255, 0.25);
}
.primary .todo-search input:focus {
  border: 1.5px rgba(255, 255, 255, 0.4) solid;
}
.primary .todo-search .material-icons {
  position: absolute;
  font-size: 28px;
  margin: 0.4rem;
  opacity: 0.4;
}
.primary .todo-search .material-icons::before {
  content: 'search';
}
.primary input {
  font-size: calc(40px / 2.8);
  background: rgba(0, 0, 0, 0.3);
  padding: 0.5em 2.4em;
  border-radius: 1em;
  color: #f1f1f1;
  outline: none;
  border: 2px rgba(0, 0, 0, 0) solid;
}
.primary input:focus {
  border: 2px rgba(255, 255, 255, 0.4) solid;
}
.primary ul {
  list-style: none;
  margin: 1em -1.5em;
}
.primary li {
  text-decoration: none;
  color: #f1f1f1;
  font-size: calc(40px / 2.6);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1em 1.66em;
  width: 79.5%;
}
.primary li:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.primary li .material-icons {
  margin: 0 0.5em;
  font-size: calc(40px / 2);
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 900px) {
  .primary {
    display: none;
    backdrop-filter: none;
  }
  .primary .elem-type {
    display: block;
  }
  .primary .elem-type .material-icons {
    z-index: 2;
    color: white;
  }
}
