@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bordered {
  border: 1.5px solid rgba(179, 210, 255, 0.25);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-weight: 500;
}
* {
  user-select: none;
}
.bg {
  background-color: #212121;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.bg .elem-type {
  position: absolute;
  margin: 1rem;
  z-index: 2;
}
@media (min-width: 1026px) {
  .bg .elem-type {
    opacity: 0;
  }
}
.bg-img {
  background-color: black;
  width: 100vw;
  z-index: 0;
}
.bg .date-view {
  position: absolute;
  top: 1.8vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 1025px) {
  .bg .date-view {
    left: 7vw;
  }
}
.bg .date-view h1 {
  font-weight: 400;
  font-size: 28px;
}
@media (max-width: 900px) {
  .bg .date-view h1 {
    font-size: 25px;
  }
}
.calendar {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 21.5rem;
  margin-left: 28rem;
}
@media (max-width: 1486px) {
  .calendar {
    margin-left: 24rem;
  }
}
@media (max-width: 1340px) {
  .calendar {
    margin-top: 20.5rem;
    margin-left: 22rem;
  }
}
@media (max-width: 1224px) {
  .calendar {
    margin-left: 19rem;
  }
}
@media (max-width: 1112px) {
  .calendar {
    margin-left: 17rem;
  }
}
@media (max-width: 1052px) {
  .calendar {
    margin-left: 15rem;
  }
}
@media (max-width: 964px) {
  .calendar {
    margin-left: 13rem;
  }
}
.showcase {
  left: 50%;
  top: 17%;
  transform: translate(-50%, 0);
  position: absolute;
  margin: 0 7rem;
  width: 30em;
}
.showcase-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#02041bc9, #0d0b25e1);
  border-radius: 10px;
  padding: 2rem;
  backdrop-filter: blur(20px);
}
.showcase-middle img {
  width: 300px;
}
.showcase-middle h1 {
  color: #f1f1f1;
  font-size: 30px;
}
.material-icons {
  color: #fff;
  font-size: 40px;
}
.textbox {
  display: flex;
  position: absolute;
  width: 100vw;
  top: 88%;
  justify-content: center;
}
.textbox .material-icons {
  position: absolute;
  margin-left: 90vw;
  cursor: pointer;
  font-size: calc(40px / 1.2);
  opacity: 0.6;
  z-index: 2;
}
.textbox .material-icons:hover {
  opacity: 1;
}
.textbox .todo-input {
  margin-left: 20vw;
  width: 70vw;
  height: 70px;
  outline: none;
  z-index: 1;
  text-align: left;
  text-indent: 1.5rem;
  height: 3rem;
  border-radius: 10px;
  background: linear-gradient(#02041bc9, #0d0b25e1);
  border: 1.5px solid rgba(179, 210, 255, 0.25);
  backdrop-filter: blur(20px);
  font-size: 15px;
  color: white;
}
@media (max-width: 1026px) {
  .textbox .todo-input {
    margin-left: 0;
  }
}
@media (min-width: 1340px) {
  .textbox .todo-input {
    margin-left: 15vw;
  }
}
.textbox .todo-input::-webkit-input-placeholder,
.textbox .todo-input::placeholder {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.651);
}
.textbox .todo-input:focus {
  box-shadow: #0099ff 0px 0px 2px;
}
.todo-list-parent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20vw;
  margin-top: 10vh;
}
@media (max-width: 1026px) {
  .todo-list-parent {
    margin-left: 0;
  }
}
@media (min-width: 1340px) {
  .todo-list-parent {
    margin-left: 15vw;
  }
}
.todo-list-parent .material-icons {
  position: absolute;
  z-index: 1;
  margin: 1.2rem 2rem;
  font-size: 2rem;
  opacity: 0.9;
  cursor: pointer;
}
.todo-list-parent .material-icons::before {
  content: 'radio_button_unchecked';
}
.todo-list {
  color: white;
  margin: 0.15rem 0.7rem;
  padding: 0.6rem 0.85em;
  background: linear-gradient(#02041bc9, #0d0b25e1);
  width: 70vw;
  height: 70px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  text-indent: 2.25rem;
}
.todo-list:hover {
  background: linear-gradient(#1a0b5ac5, #015f96d0);
}
.todo-list-child:hover {
  cursor: pointer;
}
.todo-list-child:hover .material-icons::before {
  content: 'task_alt';
}
.todo-list-child .completed-task .material-icons::before {
  content: 'task_alt';
}
.todo-list-child .calendar-icon .material-icons {
  font-size: 20px;
  margin-left: -25px;
  margin-top: 3px;
}
.todo-list-child .calendar-icon .material-icons::before {
  content: 'today';
}
