@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v12/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xJIb1AA.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v12/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xQIX1AA.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v12/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU0J7A.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v12/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xGIT1AA.ttf) format('truetype');
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bordered {
  border: 1.5px solid rgba(179, 210, 255, 0.25);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
  scroll-behavior: smooth;
  font-weight: 500;
}
.bg {
  background-color: #212121;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.bg .elem-type {
  position: absolute;
  cursor: pointer;
  opacity: 0.9;
  margin: 1rem;
  z-index: 2;
}
@media (min-width: 1026px) {
  .bg .elem-type {
    opacity: 0;
  }
}
.bg-img {
  background-color: black;
  width: 100vw;
  z-index: 0;
}
.bg .date-view {
  position: absolute;
  top: 1.8vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 1025px) {
  .bg .date-view {
    left: 7vw;
  }
}
.bg .date-view h1 {
  font-weight: 400;
  font-size: 28px;
}
@media (max-width: 900px) {
  .bg .date-view h1 {
    font-size: 25px;
  }
}
.calendar {
  position: absolute;
  z-index: 5;
  top: 45vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  transition: cubic-bezier(1, 0.085, 0.68, 1) 0.15s;
}
@media (max-width: 650px) {
  .calendar {
    transform: scale(0.8);
    top: 43vh;
  }
}
@media (min-width: 1027px) {
  .calendar {
    margin-left: 27vw;
  }
}
.showcase {
  left: 50%;
  top: 18vh;
  transform: translate(-50%, 0);
  position: absolute;
  width: 30rem;
  margin: 0 6.5rem;
}
@media (max-width: 1027px) {
  .showcase {
    margin: 0;
  }
}
@media (max-width: 828px) {
  .showcase {
    margin: 0 -15rem;
    transform: scale(0.8);
  }
}
@media (max-width: 642px) {
  .showcase {
    transform: scale(0.6);
  }
}
@media (max-width: 542px) {
  .showcase {
    transform: scale(0.5);
  }
}
.showcase-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#02041bc9, #0d0b25e1);
  border-radius: 10px;
  padding: 2rem;
  backdrop-filter: blur(20px);
}
.showcase-middle img {
  width: 300px;
}
.showcase-middle h1 {
  color: #f1f1f1;
  font-size: 30px;
}
.material-icons {
  color: #fff;
  font-size: 40px;
}
.textbox {
  display: flex;
  position: absolute;
  width: 100vw;
  top: 88%;
  margin-left: 9.4vw;
  justify-content: center;
}
@media (min-width: 1340px) {
  .textbox {
    margin-left: 7vw;
  }
}
@media (max-width: 1027px) {
  .textbox {
    margin-left: -1.2vw;
  }
}
.textbox .material-icons {
  position: absolute;
  margin-left: 62vw;
  margin-top: 1vh;
  cursor: pointer;
  font-size: calc(40px / 1.2);
  opacity: 0.6;
  z-index: 2;
}
@media (min-width: 1027px) {
  .textbox .material-icons {
    margin-left: 65vw;
  }
}
@media (max-width: 500px) {
  .textbox .material-icons {
    margin-left: 60vw;
  }
}
@media (max-width: 420px) {
  .textbox .material-icons {
    margin-left: 55vw;
  }
}
.textbox .material-icons:hover {
  opacity: 1;
}
.textbox .todo-input {
  width: 70vw;
  height: 70px;
  padding: 0.6rem 0.85em;
  outline: none;
  z-index: 1;
  text-align: left;
  text-indent: 1.5rem;
  height: 3rem;
  border-radius: 10px;
  background: linear-gradient(#02041bc9, #0d0b25e1);
  border: 1.5px solid rgba(179, 210, 255, 0.25);
  backdrop-filter: blur(20px);
  font-size: 15px;
  color: white;
}
.textbox .todo-input::-webkit-input-placeholder,
.textbox .todo-input::placeholder {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.651);
}
.textbox .todo-input:focus {
  box-shadow: #0099ff 0px 0px 2px;
}
.todo-list-parent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20vw;
  margin-top: 10vh;
  margin-bottom: 20vh;
}
@media (max-width: 1026px) {
  .todo-list-parent {
    margin-left: 0;
  }
}
@media (min-width: 1340px) {
  .todo-list-parent {
    margin-left: 15vw;
  }
}
.todo-list-parent .material-icons {
  position: absolute;
  z-index: 1;
  margin: 1.2rem 2rem;
  font-size: 2rem;
  opacity: 0.9;
  cursor: pointer;
}
.todo-list-parent .material-icons::before {
  content: 'radio_button_unchecked';
}
.todo-list {
  color: white;
  margin: 0.15rem 0.7rem;
  padding: 0.6rem 0.85em;
  background: linear-gradient(#02041bc9, #0d0b25e1);
  width: 70vw;
  height: 70px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  text-indent: 2.25rem;
}
.todo-list:hover {
  background: linear-gradient(#1a0b5ac5, #015f96d0);
}
.todo-list-child:hover {
  cursor: pointer;
}
.todo-list-child:hover .material-icons::before {
  content: 'task_alt';
}
.todo-list-child .completed-task .material-icons::before {
  content: 'task_alt';
}
.todo-list-child .calendar-icon .material-icons {
  font-size: 20px;
  margin-left: -25px;
  margin-top: 3px;
}
.todo-list-child .calendar-icon .material-icons::before {
  content: 'today';
}
