@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bordered {
  border: 1.5px solid rgba(179, 210, 255, 0.25);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-weight: 500;
}
* {
  user-select: none;
}
.bg {
  background-color: #212121;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.bg .elem-type {
  position: absolute;
  margin: 1rem;
  z-index: 2;
}
@media (min-width: 900px) {
  .bg .elem-type {
    opacity: 0;
  }
}
.bg-img {
  background-color: black;
  width: 100%;
  z-index: 0;
}
.bg .date-view {
  position: absolute;
  left: 30.7%;
  transform: translate(-50%, 0);
  margin: 1rem 0;
}
@media (max-width: 1340px) {
  .bg .date-view {
    left: 60%;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 900px) {
  .bg .date-view {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
.bg .date-view h1 {
  font-weight: 400;
  font-size: 28px;
}
@media (max-width: 900px) {
  .bg .date-view h1 {
    font-size: 25px;
  }
}
.calendar {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 21.5rem;
  margin-left: 28rem;
}
@media (max-width: 1486px) {
  .calendar {
    margin-left: 24rem;
  }
}
@media (max-width: 1340px) {
  .calendar {
    margin-top: 20.5rem;
    margin-left: 22rem;
  }
}
@media (max-width: 1224px) {
  .calendar {
    margin-left: 19rem;
  }
}
@media (max-width: 1112px) {
  .calendar {
    margin-left: 17rem;
  }
}
@media (max-width: 1052px) {
  .calendar {
    margin-left: 15rem;
  }
}
@media (max-width: 964px) {
  .calendar {
    margin-left: 13rem;
  }
}
.showcase {
  left: 50%;
  top: 17%;
  transform: translate(-50%, 0);
  position: absolute;
  margin: 0 7rem;
  width: 30em;
}
.showcase-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#02041bc9, #0d0b25e1);
  border-radius: 2rem;
  padding: 2rem;
  backdrop-filter: blur(20px);
}
.showcase-middle img {
  width: 300px;
}
.showcase-middle h1 {
  color: #f1f1f1;
  font-size: 30px;
}
.material-icons {
  color: #fff;
  font-size: 40px;
}
.textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-left: 8rem;
  top: 36em;
}
.textbox .material-icons {
  position: absolute;
  cursor: pointer;
  font-size: calc(40px / 1.2);
  opacity: 0.6;
  margin-top: 5%;
  margin-left: 66%;
  z-index: 2;
}
@media (max-width: 1200px) {
  .textbox .material-icons {
    margin-top: 6%;
  }
}
@media (max-width: 1050px) {
  .textbox .material-icons {
    margin-left: 57%;
  }
}
.textbox .material-icons:hover {
  opacity: 1;
}
.textbox .todo-input {
  outline: none;
  border: none;
  z-index: 1;
  margin-top: 6%;
  width: 70%;
  text-align: left;
  text-indent: 1.5rem;
  height: 3rem;
  border-radius: 1rem;
  background: linear-gradient(#02041bc9, #0d0b25e1);
  border: 1.5px solid rgba(179, 210, 255, 0.25);
  backdrop-filter: blur(20px);
  font-size: 15px;
  color: white;
}
@media (min-width: 1200px) {
  .textbox .todo-input {
    margin-top: 5%;
  }
}
@media (max-width: 1048px) {
  .textbox .todo-input {
    width: 65%;
  }
}
.textbox .todo-input::-webkit-input-placeholder,
.textbox .todo-input::placeholder {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.651);
}
.textbox .todo-input:focus {
  box-shadow: #0099ff 0px 0px 2px;
}
.todo-list-parent {
  position: relative;
  width: 71%;
  margin-left: 22rem;
  margin-top: 4.5rem;
  margin-bottom: 8%;
}
@media (max-width: 1448px) {
  .todo-list-parent {
    margin-left: 20rem;
  }
}
@media (max-width: 1220px) {
  .todo-list-parent {
    margin-left: 19rem;
  }
}
@media (max-width: 1136px) {
  .todo-list-parent {
    margin-left: 18rem;
  }
}
@media (max-width: 1050px) {
  .todo-list-parent {
    width: 69%;
  }
}
@media (max-width: 910px) {
  .todo-list-parent {
    width: 68%;
    margin-left: 17rem;
  }
}
.todo-list-parent .material-icons {
  position: absolute;
  z-index: 1;
  margin: 0.6rem 1.2rem;
  font-size: 2rem;
  opacity: 0.9;
  cursor: pointer;
}
.todo-list-parent .material-icons::before {
  content: 'radio_button_unchecked';
}
.todo-list {
  color: white;
  margin: 0.2rem 0.7rem;
  padding: 0.6rem 0.85em;
  background: linear-gradient(#02041bc9, #0d0b25e1);
  backdrop-filter: blur(10px);
  border-radius: 1em;
  text-indent: 2.25rem;
}
.todo-list-child:hover {
  cursor: pointer;
}
.todo-list-child:hover .material-icons::before {
  content: 'task_alt';
}
.todo-list-child .completed-task .material-icons::before {
  content: 'task_alt';
}
.todo-list-child .calendar-icon .material-icons {
  font-size: 20px;
  margin-left: -2.3rem;
  top: 1.7rem;
}
.todo-list-child .calendar-icon .material-icons::before {
  content: 'today';
}
@media (max-width: 900px) {
  .showcase {
    left: 50%;
    top: 17%;
    transform: translate(-50%, 0);
    position: absolute;
    margin: 0 -15rem;
    transform: scale(0.6);
  }
  .textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-left: 0;
    top: 36em;
  }
  .todo-list-parent {
    width: 71%;
    margin-left: 16%;
    margin-top: 4.5rem;
  }
}
